---
title: Hyperlapse with multi-waypoint routes
date: 2013-05-18 15:30
description: Hyperlapse library using multi-waypoint routes from google maps
banner: /images/posts/multi-route-hyperlapse.png
priority: 0.9
changefreq: daily
categories:
- Tools
tags:
- hyperlapse
- javascript
- maps
---
<p class="text-center">
	<a href="/images/posts/multi-route-hyperlapse.png" rel="lightbox">thumbnail('posts/multi-route-hyperlapse.png', :post, :class => 'img-responsive')</a>
</p>

[Hyperlapse](http://hyperlapse.tllabs.io) is an awesome library created by [Teenhalax](http://www.teehanlax.com/) and let you create awesome Google streetview's timelapse sequences.

READMORE

Here is a simple explanatory video on what you can do with it:

<div class="videoWrapper">
	<iframe src="http://player.vimeo.com/video/63653873?title=0&amp;portrait=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div><br />

Awesome isn't it?

What I've done is to configure hyperlapse in conjunction with google maps to create a multi-waypoint route without having to add a pivot point to look at.

This way you can build your own full route and let hyperlapse do the job of putting pieces together.

So just try it!

<p class="text-center">
	<a class="btn btn-success btn-large" href="/demo/multi-route-hyperlapse/" target="_blank">To the demo!</a>
</p>

Let me know if there are any bugs there.